body{
    font-family: 'Plus Jakarta Display', sans-serif;

}

.loginClass{
    background-image: url("../img/bg.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

section #login{
    /* width: 100vw; */
    background-color: #cccccc; 
    height: 100vh;
    
}

section{
    padding-top:10vh;
    padding-bottom:10vh;
}

.bar{
    width: 100vw;
    padding: 20px;
    text-align: center ;
    background-color: #000044;
}

.header{
    color: white;
    font-weight: bold;
}
/* 
.overlay{
    width: 30vw;
    height: 100vh;
    position: relative;
    background-color: #000044;
    padding:10vh;
    
} */
.maincard{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 70vw;
    height: auto;
    background-color: white;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-family: 'Plus Jakarta Display', sans-serif;
    padding: 20px;
    /* position: relative; */
}

.flexrow{
    display: flex;
    justify-content: space-between;
}

#formsubmit{
    margin-top:auto ;
    padding: 30px;
}

.formSpacing .space{
    padding: 10px;
}
.button{
    border: none;
    background-color: #019B9B;
    padding: 10px 30px;
    color: white;
    border-radius: 15px;
}

.outline-button{
    border: 1px solid #019B9B;
    background-color: transparent;
    padding: 10px 30px;
    color: #019B9B;
    border-radius: 15px;
}

.roundform{
    border-radius: 20px;
    background-color: aqua;
}

.line{
    margin: 5px;
}

.space{
    padding:20px; 
    border-radius:10px;
    width: 100%;
    border: 1px solid rgb(216, 216, 216);
}

.smallheader{
    color: teal; 
    font-weight: 500; 
    font-size: small;
}

.smallheader-black{
    color: black; 
    font-weight: 300; 
    /* font-size: small; */
}

.smallheader-bold{
    color: black; 
    font-weight: 700; 
    /* font-size: small; */
}

.smallheader-small{
    color: teal; 
    font-weight: 200; 
    cursor: pointer;
    /* font-size: small; */
}

/* new report */

.startCard{
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.percentageEllipse{
   height: 200px;
   width: 200px;
   border-radius:50% ;
   text-align: center;
   vertical-align: middle;
   padding-top: 60px;
   font-size: 80px;
   margin: auto;
   box-shadow: 0px 12.8681px 32.1702px rgba(8, 102, 102, 0.2);
}

.percentageEllipse h4{
    font-size: 60px;
    font-weight: 700;
}

.guideCard{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
    /* width: 90%; */
    display: flex;

}

.guideCard h6{
    color: gray;
    font-weight: 400;

}

.guidebar{
width: 5px;
background-color: greenyellow;
border-radius:10px ;
padding-left:10px ;
padding-right:10px ;
height: 95%;
margin-top: auto;
margin-bottom: auto;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.guidetext{
    margin-left: 10px;
    padding-top: 10px;
}

.caption{
    padding: 20px;
    text-align: center;
    font-size: large;
}

.recommendation{
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
padding: 20px;
border-radius:10px;
}

.circle-graph{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 20px solid teal;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    line-height: 160px;
    background-color: white;

}

.result-bold{
    font-size: larger;
    margin-top: 3vh;
    text-align: center;
}

.card{
    padding: 10px;
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .maincard{
      width: 100%;
      margin: 0;
    }

    section{
        margin: 0;
        padding: 0;
    }
  }