{% extends "layout.html" %}

{% block body %}
<section id="login">
    <!-- <div style="background-color: green; width: 50vh; height: auto; position: absolute; right: 0;"></div> -->
    <div class="overlay">
        <div class="maincard">
<form action="" method="POST">
            <div class="container">
                <div style="text-align: center;">
                    <!-- <img src="{{url_for("static", filename="img/reg.png")}}" width="100px" alt=""> -->
                    <h4>Welcome to the LectureSoft BASIC Skills Self-Assessment.</h4>
                    <h6>Your 21st Century Teaching and Learning Toolkit</h6>
                    <br>
                    <div style="text-align: left;">

                        <h6>Are you a <b><i>teacher-centered</b></i> or a <b><i>learner-centered</b></i> educator?</h6>
                        <p >Would you like to find out?
                            <ul>
                                <li>Do you want high competency outcomes from your students?</li>
                                <li>To enhance students’ problem solving and critical thinking skills?</li>
                                <li>Or to finally catch up to the changing times?</li>
                            </ul>
                            
                            You can get started all on your own with a LectureSoft Basic Skills self-assessment.
                            <br>
                            <br>

                            Take it often and see your 21st century teaching skills grow. Evaluate your teaching and course design with our field- tested science-based tool. Receive custom results, tips and recommendations, your learners, your nation will thank you.
                            <br>
                            <br>
                            
                            God’s speed!
                        </p>
                    </div>
                    <br>
                        {{ form.hidden_tag() }}
                        <div class="form-group" style="width: 100%;">
                            {{ form.firstname(class="space", placeholder="Enter your first name")}}
                        </div>
                        <div class="form-group" style="width: 100%;">
                            {{ form.lastname(class="space", placeholder="Enter your last name")}}
                        </div>
                        <div class="form-group" style="width: 100%;">
                            {{ form.phone(class="space", placeholder="Enter your phone number")}}
                        </div>
                        <div class="form-group" style="width: 100%;">
                            {{ form.email(class="space", placeholder="Enter your email address")}}
                        </div>
                        <div class="form-group" style="width: 100%;">
                            {{ form.course(class="space", placeholder="Which course are you vetting")}}
                        </div>
                        <!-- <div class="form-group" style="text-align: center;">
                            {{form.submit (class="login-button")}}
                        </div> -->
                        <div class="flexrow" id="formsubmit">
                            <a href="#">
                                <h6 class="text-mutes">Help</h6>
                            </a>
                            <button type="submit" class="button">Take The Test</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}