{% extends "layout.html" %}

{% block body %}
<br/>

<div class="container">
    <div class="row startCard">
        <!-- <div class="col-md-6"> -->
            <h6>THANK YOU FOR FILLING OUT THE FORM</h6>
            <h4>Your form has been recieved, we appreciate your honest feedback. We will get back to you with a code that will be used for your clearance, thank you for your cooperation.</h4>
        <!-- </div> -->

</div>
</div>


    <section>
        <div class="row"> 
            <div class="container">
                <!-- <div  onclick="clickToCopy()">
                    <h6>Please enter your phone number. You would recieve and sms with the code used to clear you.</h6>
                    <input type="text" value="asdfasdf" class="space" id="myInput">
                    <button class="button" style="margin-top:20px" type="submit">Request Code</button>
                </div> -->

                <h6 id="copySuccess" style="color: green; display: none;">Your code has been copied!</h6>
                <div style="margin:auto ;" onclick="clickToCopy()">
                    <input type="text" value="alkd32i4ed" class="space" id="myInput">
                    <button class="button" style="margin-top: 20px;" onclick="clickToCopy()">Copy To Copy</button>
                </div>
            </div>
        </div>

    </section>

    <br/>
<!--    
<section>
    
    <h6 class="smallheader" style="color: teal;" >THE NEFERTITI PROJECT</h6>
    <h3 class="header" style="color: black;">Order A Full Report</h3>
    <hr style="width: 30%; margin-left: 0;">
    <div class="container">
        <h4 class="smallheader-bold">You can reach out to us for training.</h4>
        <h6 class="smallheader-black">We here at The Nefertiti Project specialise in training classroom leaders in the 21st century ways of teaching. We prioritise in migrating out teachers from from the traditional way of learning.</h6>
        <div class="row">
            <div class="col-md-2 col-4" style="text-align: center;">
                <img src="{{url_for("static", filename="img/Facebook.png")}}" width="100"alt="">
                <br>
                <h6 class="smallheader">FACEBOOK</h6>
            </div>

            <div class="col-md-2 col-4" style="text-align: center;">
                <img src="{{url_for("static", filename="img/Twitter.png")}}" width="100"alt="">
                <h6 class="smallheader">TWITTER</h6>
            </div>

            <div class="col-md-2 col-4" style="text-align: center;">
                <img src="{{url_for("static", filename="img/Instagram.png")}}" width="100"alt="">
                <h6 class="smallheader">INSTAGRAM</h6>
            </div>

            <div class="col-md-2 col-4" style="text-align: center;">
                <img src="{{url_for("static", filename="img/Whatsapp.png")}}" width="100"alt="">
                <h6 class="smallheader">WHATSAPP</h6>
            </div>

            <div class="col-md-2 col-4" style="text-align: center;">
                <img src="{{url_for("static", filename="img/Youtube.png")}}" width="100"alt="">
                <h6 class="smallheader">YOUTUBE</h6>
            </div>

            <div class="col-md-2 col-4" style="text-align: center;">
                <img src="{{url_for("static", filename="img/Phone.png")}}" width="100"alt="">
                <h6 class="smallheader">PHONE</h6>
            </div>
        </div>
    </div>
</section> -->
</div>


<script>
function clickToCopy() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");
  console.log(copyText)

  /* Select the text field */
  copyText.select(); 
  copyText.setSelectionRange(0, 99999); /* For mobile devices */



   /* Copy the text inside the text field */
  navigator.clipboard.writeText(copyText.value);


  
  /* Alert the copied text */
    document.getElementById('copySuccess').style.display = "block"
  //   alert("Copied the text: " + copyText.value);
}
</script>

{% endblock %}