{% extends "layout.html" %}

{% block body %}

<br/>

<div class="container">
    <div class="row startCard">
        <div class="col-md-6">
            <h6>OVERALL LECTURESOFT 21ST CENTURY TEACHING SCORE</h6>    
            <h1 style="font-size: 100px; font-weight: 700;">61%</h1>
        </div>
        <div class="col-md-6">
            <h4>Overall, your 21st century teaching skills are Acceptable</h4>
            <button class="button">
                Contact Us Now
            </button>
        </div>

</div>


    <section>
        <h4>Your Score Breakdown</h4>
        <br/>
        <div class="row">
            <div class="col-md-4">
                <div class="percentageEllipse">
                    <h4>50%</h4>
                </div>
                <h6 class="caption">Learner Centricity</h6>

            </div>
            <div class="col-md-4">
                <div class="percentageEllipse">
                    <h4>50%</h4>
                </div>
                <h6 class="caption">Learner Centricity</h6>
                
            </div>
            <div class="col-md-4">
                <div class="percentageEllipse">
                    <h4>50%</h4>
                </div>
                <h6 class="caption">Learner Centricity</h6>

            </div>
        </div>
    </section>

    <section>
        <h4>Your Professional Development Guide</h4>
        <br/>
        <div class="row">
            <div class="col-md-6">
                <div class="guideCard">
                    <div class="guidebar"></div>
                    <div class="guidetext">
                        <h5>SETTINGS</h5>
                        <h6>Empowerment, Usefulness, Lecture focus, 
                            Empowerment, Success,  Meaningful application,</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="guideCard">
                    <div class="guidebar"></div>
                    <div class="guidetext">
                        <h5>SETTINGS</h5>
                        <h6>Empowerment, Usefulness, Lecture focus, 
                            Empowerment, Success,  Meaningful application,</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="guideCard">
                    <div class="guidebar"></div>
                    <div class="guidetext">
                        <h5>SETTINGS</h5>
                        <h6>Empowerment, Usefulness, Lecture focus, 
                            Empowerment, Success,  Meaningful application,</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="guideCard">
                    <div class="guidebar"></div>
                    <div class="guidetext">
                        <h5>SETTINGS</h5>
                        <h6>Empowerment, Usefulness, Lecture focus, 
                            Empowerment, Success,  Meaningful application,</h6>
                    </div>
                </div>
            </div>

           
        </div>
    </section>

    <section class="recommendation">
        <h4>Recommended Learning</h4>
        <p>
        <h6>
            <b>
                The following courses are recommended: 
            </b>
        </h6>
        <br>

    <a href="#">
        <h6 style="color: teal; text-decoration: underline ;">21st Century Teaching and Learning Essentials:</h6>
    </a>
    <h6>Come away with eight simplified strategies for engaged and effective training delivery and an overview of 21st century teaching and learning.</h6>
    <br/>
    <a href="#">
        <h6 style="color: teal; text-decoration: underline ;">Teach, don’t tell: </h6>
    </a>
<h6>
    Master the five no-fluff techniques for achieving maximum learning and recall
</h6>

<br/>

<h6 class="text-muted">

    Don’t want to pay for a full course? Purchase a customized set of learning strategies based on your assessment details.
</h6>
        </p>
    </section>

   
<section>
    
    <h6 class="smallheader" style="color: teal;" >THE NEFERTITI PROJECT</h6>
    <h3 class="header" style="color: black;">Contact Us Now</h3>
    <hr style="width: 30%; margin-left: 0;">
    <div class="container">
        <h4 class="smallheader-bold">You can reach out to us for training.</h4>
        <h6 class="smallheader-black">We here at The Nefertiti Project specialise in training classroom leaders in the 21st century ways of teaching. We prioritise in migrating out teachers from from the traditional way of learning.</h6>
        <div class="row">
            <div class="col-md-2 col-4" style="text-align: center;">
                <img src="{{url_for("static", filename="img/Facebook.png")}}" width="100"alt="">
                <br>
                <h6 class="smallheader">FACEBOOK</h6>
            </div>

            <div class="col-md-2 col-4" style="text-align: center;">
                <img src="{{url_for("static", filename="img/Twitter.png")}}" width="100"alt="">
                <h6 class="smallheader">TWITTER</h6>
            </div>

            <div class="col-md-2 col-4" style="text-align: center;">
                <img src="{{url_for("static", filename="img/Instagram.png")}}" width="100"alt="">
                <h6 class="smallheader">INSTAGRAM</h6>
            </div>

            <div class="col-md-2 col-4" style="text-align: center;">
                <img src="{{url_for("static", filename="img/Whatsapp.png")}}" width="100"alt="">
                <h6 class="smallheader">WHATSAPP</h6>
            </div>

            <div class="col-md-2 col-4" style="text-align: center;">
                <img src="{{url_for("static", filename="img/Youtube.png")}}" width="100"alt="">
                <h6 class="smallheader">YOUTUBE</h6>
            </div>

            <div class="col-md-2 col-4" style="text-align: center;">
                <img src="{{url_for("static", filename="img/Phone.png")}}" width="100"alt="">
                <h6 class="smallheader">PHONE</h6>
            </div>
        </div>
    </div>
</section>
</div>

{% endblock %}